{% extends 'main.html' %}

{% block content %}

<h1>Home page template</h1>
<div>
    <div>
        
        {% for c in course %}
            
                <div>
                    <h3>cat: {{c.category}}</h3>
                    <span>@{{c.teacher_id}}</span>
                    
                    <h4>{{c.id}} -- <a href="/course/{{c.id}}">{{c.courseName}}</a></h4>
                    <span>Description: {{c.description}}</span>
                    <span>Content: {{c.content}}</span>
                    <h3>Price: {{c.price}}</h3>
    
                    <div>
                        <button type="button"><a href="/course/{{c.id}}" >Get more Info</a></button>
                    </div>
                </div>
            
        {% endfor %}
            
    </div>
</div>

{% endblock content %}