<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>{{teacher.name}}</title>
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary m-3 rounded fixed-top"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{teacher.name}}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-5">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'teachermain' teacher.name %}"
                >Home</a
              >
            </li>
            <li class="nav-item mx-5">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'teachermycourse' teacher.name %}"
                >My Courses</a
              >
            </li>
            <li class="nav-item mx-5">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'studentsenrolled' teacher.name course.courseName %}"
                >Students Enrolled</a
              >
            </li>
            <li class="nav-item mx-5">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'logout' %}"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <p class="text-center text-primary fs-1 my-4" style="padding-top: 5rem">
      {{course.courseName}} Course
      <span class="text-end text-muted"
        >Under {{course.category}} category</span
      >
    </p>
    <div class="m-3">
      <p class="fs-3 text-warning">Description</p>
      <hr />
      <p class="m-2 fs-5">{{course.description}}</p>
      <hr />
      <p class="fs-3 text-warning">Content</p>
      <hr />
      <p class="m-2 fs-5">{{course.content}}</p>
      <hr />
      <p class="fs-3 text-warning">Price</p>
      <hr />
      <p class="m-2 fs-5">&#8377; {{course.price}}</p>
    </div>
    <div class="m-3">
      <p class="fs-3 text-warning">Topics</p>

      <hr />

      {% for topic in topics %}
      <p class="fs-6 my-3">{{topic.content}}</p>
      <hr />
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
